$white  : #fff;
$gray: #e0e0e0;
$gray-ligth: #fffdfd;
$gray-ligth-2:#fffdfd;
$gray-strong: #727272;
$purple: #6f42c1;
$purple_ligth: #b69de6;
$black: #000000;
$green: #0df053;
$pink: #e91e63;
$yellow:#ffb100;
$red:#b71c1c;
$orange: #ff6600;
