<template>
  <div class="main">
    <nav class="navbar-home py-0 navbar-expand-lg navbar-dark bg-dark" aria-label="Main navigation">
        <div class="container-fluid">
            <div class="navbar-collapse offcanvas-collapse navbar-first"  id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-first__nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-shield-check icon-social-navbar" ></i>Compras seguras online</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><i class="bi-coin icon-social-navbar" ></i>Pago contra entrega</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><i class="bi-truck icon-social-navbar" ></i>Entregas el mismo día</a>
                    </li>

                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0 navbar-first__contact ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Llámanos<i class="bi-telephone icon-navbar" ></i>| 3009108496</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Escríbenos <i class="bi-youtube icon-social-navbar" ></i> <i class="bi-instagram icon-social-navbar" ></i> <i class="bi-facebook icon-social-navbar" ></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header  class="header-home p-3 border-bottom">
        <div class="header-home__container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <div class="container navbar-first-mobile">
                    <div class="container d-flex">
                        <div class="col-1 col-md-3 col-sm-1 col-xs-1  ">
                            <i class="bi bi-list navbar-first-mobile__icon-menu"></i>
                        </div>
                        <div class="col-5 col-md-6 col-sm-5 col-xs-5 text-center">
                            <img class="bi me-2" width="60" height="60" role="img" aria-label="Bootstrap" src="https://laika.com.co/assets/home/LaikaMascotas.svg"/>
                        </div>
                        <div class="col-6 col-md-3 col-sm-6 col-xs-6  d-flex">
                            <ul class="nav d-flex justify-content-between col-12  mb-2  mb-md-0">
                                <li class="header-home">
                                    <a href="#" class="d-block link-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img :src="'/icons/colombia.png'" alt="mdo" width="32" height="32" class="link-white__img">
                                        <span class="link-white__span">BOG</span>
                                    </a>
                                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                                        <li><a class="dropdown-item" href="#">Bogotá</a></li>
                                        <li><a class="dropdown-item" href="#">Cali</a></li>
                                        <li><a class="dropdown-item" href="#">Medellin</a></li>
                                    </ul>
                                </li>
                                <li class="">
                                    <a href="#" class="d-block text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i data-count="0" class="bi-cart items-accounts__icon fa-border icon-grey badge-cart"></i>
                                    </a>
                                </li>
                            </ul>



                        </div>
                    </div>

                </div>
                <a href="#" class="header-home__icon d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <img class="bi me-2" width="60" height="60" role="img" aria-label="Bootstrap" src="https://laika.com.co/assets/home/LaikaMascotas.svg"/>
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <div class="input-group search">
                            <input type="text" class="form-control search__search-input" placeholder="Encuentra lo mejor para tu mascota." aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <span class="input-group-text search-header search__search-span" id="basic-addon2">
                                <i class="bi bi-search icon-social-navbar" ></i>
                            </span>
                        </div>
                    </li>
                    <li class="header-home__select-city">
                        <a href="#" class="d-block link-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img :src="'/icons/colombia.png'" alt="mdo" width="32" height="32" class="link-white__img">
                            <span class="link-white__span">BOG</span>
                        </a>
                        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">Bogotá</a></li>
                            <li><a class="dropdown-item" href="#">Cali</a></li>
                            <li><a class="dropdown-item" href="#">Medellin</a></li>
                        </ul>
                    </li>
                </ul>


                <div class="dropdown items-accounts ">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none"  data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi-person-circle items-accounts__icon"></i>
                        <strong class="items-accounts__strong">Mi cuenta</strong>
                    </a>
                </div>
                <div class="dropdown text-end items-accounts">
                    <a href="#" class="d-block text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i data-count="0" class="bi-cart items-accounts__icon fa-border icon-grey badge-cart"></i>
                    </a>
                </div>

            </div>
        </div>
    </header>
    <article class="main-container my-1">
        <div class="container">
            <header  class="d-flex justify-content-around p-2 header-second">
                <ul class="nav nav-pills justify-content-around header-second__list">
                    <li class="nav-item dropdown header-second__active header-second__item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img :src="'/icons/dog_mc.svg'" alt="mdo" width="32" height="32" class="">
                            Compra para perro
                        </a>
                        <ul class="dropdown-menu header-second__products" aria-labelledby="navbarDropdown">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="alimentoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Alimento
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="alimentoDropdown">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="#">Snacks</a></li>
                            <li><a class="dropdown-item" href="#">Farmapet</a></li>
                            <li><a class="dropdown-item" href="#">Cuidado e Higiene</a></li>
                            <li><a class="dropdown-item" href="#">Juguetes</a></li>
                            <li><a class="dropdown-item" href="#">Accesorios</a></li>
                            <li><a class="dropdown-item" href="#">Para PetLovers</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown  header-second__item">
                        <a class="nav-link dropdown-toggle" href="#" id="catDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img :src="'/icons/cat_mc_s.svg'" alt="mdo" width="32" height="32" class="">
                            Compra para gato
                        </a>
                        <ul class="dropdown-menu header-second__products" aria-labelledby="catDropdown">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="alimentoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Alimento
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="alimentoDropdown">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="#">Snacks</a></li>
                            <li><a class="dropdown-item" href="#">Farmapet</a></li>
                            <li><a class="dropdown-item" href="#">Cuidado e Higiene</a></li>
                            <li><a class="dropdown-item" href="#">Juguetes</a></li>
                            <li><a class="dropdown-item" href="#">Accesorios</a></li>
                            <li><a class="dropdown-item" href="#">Para PetLovers</a></li>
                        </ul>
                    </li>
                    <li class="nav-item header-second__item py-2">
                        <a href="#" class="nav-link dropdown-toggle"  id="ofertsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Ofertas
                        </a>
                        <ul class="dropdown-menu header-second__products" aria-labelledby="ofertsDropdown">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="alimentoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Alimento
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="alimentoDropdown">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="#">Snacks</a></li>
                            <li><a class="dropdown-item" href="#">Farmapet</a></li>
                            <li><a class="dropdown-item" href="#">Cuidado e Higiene</a></li>
                            <li><a class="dropdown-item" href="#">Juguetes</a></li>
                            <li><a class="dropdown-item" href="#">Accesorios</a></li>
                            <li><a class="dropdown-item" href="#">Para PetLovers</a></li>
                        </ul>
                    </li>
                    <li class="nav-item header-second__item py-2">
                        <a href="#" class="nav-link dropdown-toggle"  id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Servicios
                        </a>
                        <ul class="dropdown-menu header-second__products" aria-labelledby="servicesDropdown">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="alimentoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Alimento
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="alimentoDropdown">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="#">Snacks</a></li>
                            <li><a class="dropdown-item" href="#">Farmapet</a></li>
                            <li><a class="dropdown-item" href="#">Cuidado e Higiene</a></li>
                            <li><a class="dropdown-item" href="#">Juguetes</a></li>
                            <li><a class="dropdown-item" href="#">Accesorios</a></li>
                            <li><a class="dropdown-item" href="#">Para PetLovers</a></li>
                        </ul>
                    </li>
                    <li class="nav-item header-second__item py-2">
                        <a href="#" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item py-2 member">
                        <a href="#" class="nav-link  member__title">LAIKA<strong>Member</strong></a>
                        <a href="#" class="nav-link member__btn">ADQUIÉRELA YA</a>
                    </li>
                </ul>
            </header>
            <header class="header-second-movil">
                <div class="header-second-movil__btns d-flex p-2 text-center">
                    <a class="dog m-1 p-2" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Perro
                        <img :src="'/icons/dog_mc.svg'" alt="mdo" width="40" height="40" class="">
                    </a>
                    <a class="cat m-1 p-2" href="#" id="catDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gato
                        <img :src="'/icons/cat_mc_s.svg'" alt="mdo" width="40" height="40" class="">
                    </a>
                </div>
                <div class="header-second-movil__subscribe">
                    <div class="header-second-movil__member d-flex p-2 flex-column text-center">
                        <a href="#" class="product__member-title m-1">LAIKA<span>Member</span></a>
                        <a href="#" class="product__member-btn m-auto header-second-movil__btn">ADQUIÉRELA YA</a>
                    </div>
                </div>
            </header>
        </div>
    </article>
    <article class="container carousel-home m-auto pt-2">
        <b-carousel
            indicators
            img-width="1024"
            img-height="180"
        >
            <b-carousel-slide
            img-src="/img/slider_1.jpg"
            ></b-carousel-slide>
            <b-carousel-slide
            img-src="/img/slider_2.png"
            ></b-carousel-slide>
            <b-carousel-slide
            img-src="/img/slider_3.png"
            ></b-carousel-slide>
        </b-carousel>
    </article>

    <article class="container categories m-auto pt-4">
        <span class="categories__title">Categorías</span>
        <div class="categories__content row d-flex justify-content-evenly">
            <template v-for="(category,index) in categories" v-key="index">
                <div class="col-lg-3">
                    <div class="categories__category">
                        <i class="bi bi-heart" ></i>
                        <span>{{category.name}}</span>
                    </div>
                </div>
            </template>

        </div>
    </article>
    <div class="container">
        <hr class="divider">
    </div>

    <article class=" container brands m-auto pt-4">
        <span class="brands__title">Marcas destacadas</span>
        <div class="brands__content">
            <div class="control" >
                <i @click="previous" v-bind:class="[icon_left ? 'control__active' : 'control__inactive']" class="control__icon bi bi-chevron-left"></i>
            </div>
            <div id="slide">
                <div v-for="(item, index) in items" :key="index">
                    <img :src="item.src" />
                </div>
            </div>
            <div class="control">
                <i @click="next" v-bind:class="[icon_rigth ? 'control__active' : 'control__inactive']" class="control__icon bi bi-chevron-right"></i>
            </div>
         </div>
    </article>
    <div class="container">
        <hr class="divider">
    </div>

    <article class=" container products m-auto pt-4">
        <span class="products__title">Un universo lleno de ofertas</span>
        <div class="row d-flex justify-content-around products__content">
            <div class="col-md-6 col-lg-3 p-1">
                <div class="product">
                    <div class="product__container">
                        <img class="product__img" :src="'/img/products/collar.jpg'" >
                        <span class="product__title"> Collar rosado Laika perro</span>
                        <div class="product__stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <div class="product__price-before">
                            <strong>$ 5,652</strong>
                            <div class="product__price-old">
                                <small>Antes</small>
                                <h6>$6,500</h6>
                            </div>
                        </div>
                        <hr class="divider">
                        <div class="product__price-after">
                            <strong>$ 5,452</strong>
                            <div class="product__member">
                                <a href="#" class="product__member-title">LAIKA<span>Member</span></a>
                                <a href="#" class="product__member-btn">ADQUIÉRELA YA</a>
                            </div>
                        </div>
                        <div class="product__features">
                            <span class="first">MEDIANO</span>
                            <span class="second">GRANDE</span>
                        </div>
                    </div>
                    <a class="product__btn-cart">
                        <i class="bi bi-cart"></i>
                        Añadir al carrito
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 p-1">
                <div class="product">
                    <div class="product__container">
                        <img class="product__img" :src="'/img/products/collar.jpg'" >
                        <span class="product__title"> Collar rosado Laika perro</span>
                        <div class="product__stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <div class="product__price-before">
                            <strong>$ 5,652</strong>
                            <div class="product__price-old">
                                <small>Antes</small>
                                <h6>$6,500</h6>
                            </div>
                        </div>
                        <hr class="divider">
                        <div class="product__price-after">
                            <strong>$ 5,452</strong>
                            <div class="product__member">
                                <a href="#" class="product__member-title">LAIKA<span>Member</span></a>
                                <a href="#" class="product__member-btn">ADQUIÉRELA YA</a>
                            </div>
                        </div>
                        <div class="product__features">
                            <span class="first">MEDIANO</span>
                            <span class="second">GRANDE</span>
                        </div>
                    </div>
                    <a class="product__btn-cart">
                        <i class="bi bi-cart"></i>
                        Añadir al carrito
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 p-1">
                <div class="product">
                    <div class="product__container">
                        <img class="product__img" :src="'/img/products/collar.jpg'" >
                        <span class="product__title"> Collar rosado Laika perro</span>
                        <div class="product__stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <div class="product__price-before">
                            <strong>$ 5,652</strong>
                            <div class="product__price-old">
                                <small>Antes</small>
                                <h6>$6,500</h6>
                            </div>
                        </div>
                        <hr class="divider">
                        <div class="product__price-after">
                            <strong>$ 5,452</strong>
                            <div class="product__member">
                                <a href="#" class="product__member-title">LAIKA<span>Member</span></a>
                                <a href="#" class="product__member-btn">ADQUIÉRELA YA</a>
                            </div>
                        </div>
                        <div class="product__features">
                            <span class="first">MEDIANO</span>
                            <span class="second">GRANDE</span>
                        </div>
                    </div>
                    <a class="product__btn-cart">
                        <i class="bi bi-cart"></i>
                        Añadir al carrito
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 p-1">
                <div class="product">
                    <div class="product__container">
                        <img class="product__img" :src="'/img/products/collar.jpg'" >
                        <span class="product__title"> Collar rosado Laika perro</span>
                        <div class="product__stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <div class="product__price-before">
                            <strong>$ 5,652</strong>
                            <div class="product__price-old">
                                <small>Antes</small>
                                <h6>$6,500</h6>
                            </div>
                        </div>
                        <hr class="divider">
                        <div class="product__price-after">
                            <strong>$ 5,452</strong>
                            <div class="product__member">
                                <a href="#" class="product__member-title">LAIKA<span>Member</span></a>
                                <a href="#" class="product__member-btn">ADQUIÉRELA YA</a>
                            </div>
                        </div>
                        <div class="product__features">
                            <span class="first">MEDIANO</span>
                            <span class="second">GRANDE</span>
                        </div>
                    </div>
                    <a class="product__btn-cart">
                        <i class="bi bi-cart"></i>
                        Añadir al carrito
                    </a>
                </div>
            </div>

         </div>
    </article>

    <article >
        <a class="icon-whatsapp">
            <i class="bi bi-whatsapp" ></i>
        </a>
        <a class="icon-message">
            <i class="bi bi-chat" ></i>
        </a>
        <a class="icon-suggestion">
            <span class="icon-suggestion__span">Sugerencias</span>
            <i class="bi bi-chat-square-text" ></i>
        </a>
    </article>
    <footer class="footer mt-auto p-3">
        <div class="">
           <div class="social footer__social-desktop row d-flex justify-content-around">
                <div class="col-md-4 col-lg-2 text-center ">
                    <span>
                        <img class="ml-2 text-right img-fluid img_laika_footer lazy" data-src="https://laika.com.co/assets/LAIKA.png  " src="https://laika.com.co/assets/LAIKA.png  ">
                        <p class="ml-0 ml-md-2 mt-2 footer__icon-social mb-0 ">Síguenos en:</p>
                        <p class="ml-0 ml-md-1">
                            <span class="footer__icon-social">
                                <a class="text_decoration_general" href="https://www.youtube.com/watch?v=gchln4oix68">
                                    <i class="bi bi-youtube"></i>
                                </a>
                            </span>
                            <span class="footer__icon-social">
                                <a class="text_decoration_general" href="https://www.instagram.com/laikamascotas/?hl=es-la">
                                    <i class="bi bi-instagram"></i>
                                </a>
                            </span>
                            <span class="footer__icon-social">
                                <a class="text_decoration_general" href="https://es-la.facebook.com/LaikaUniverso/">
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </span>
                        </p>
                    </span>
                </div>
                <div class="col-md-4 col-lg-2 text-left ">
                    <h2 class="footer__title ">
                        ACERCA DE LAIKA
                    </h2>
                    <a href="#">
                        <h3 class="footer__text mb-3">
                            Sobre Laika
                        </h3>
                    </a>
                    <a href="#">
                        <h3 class="footer__text mb-3">
                            Servicios
                        </h3>
                    </a>
                    <a href="#">
                        <h3 class="footer__text mb-3">
                            Trabaja con nosotros
                        </h3>
                    </a>
                    <a href="#" target="_blank">
                        <h3 class="footer__text mb-3">
                            Blog
                        </h3>
                    </a>
                    <a href="#" target="_blank">
                        <h3 class="footer__text mb-3">
                            Términos y condiciones
                        </h3>
                    </a>
                </div>
                <div class="col-md-4 col-lg-2 text-left ">
                    <h2 class="footer__title">
                        LINKS DE INTERÉS
                    </h2>
                    <a href="#">
                        <h3 class="footer__text mb-3">
                            Preguntas frecuentes
                        </h3>
                    </a>
                    <h3 class="footer__text mb-3">
                        ¿Cómo comprar en Laika?
                    </h3>

                    <a href="#">
                        <h3 class="footer__text mb-3">
                            Política de Privacidad
                        </h3>
                    </a>
                    <a href="#">
                        <h3 class="footer__text mb-3">
                            Contáctanos
                        </h3>
                    </a>
                    <a href="#">
                        <h3 class="footer__text mb-3">
                            Políticas de Entrega
                        </h3>
                    </a>
                </div>
                <div class="col-md-4 col-lg-2 text-left ">
                    <h2 class="footer__title">
                        INFORMACIÓN
                    </h2>
                    <h3 class="footer__text mb-3" style="overflow-wrap: break-word;">
                        Teléfono:3009108496<br><br>  servicioclientes@laika.com.co<br><br> Bogotá D.C., Colombia
                    </h3>
                </div>
                <div class="col-md-4 col-lg-3 text-left ">
                        <h2 class="footer__title">
                            SUSCRÍBETE
                        </h2>
                        <h3 class="footer__text mb-2 pt-0 mb-2 " style="font-size: 11px !important; ">
                            Recibe noticias y promociones al instante.
                        </h3>
                        <form action="form-group mt-0 " id="home_subs">
                            <div class="input-group ">
                                <input type="email" placeholder="Correo electrónico" required="required" class=" form-control text_subscription">
                                <span class="input-group-text subscribe-span" id="basic-addon2">
                                    <i class="bi bi-chevron-right icon-subscribe" ></i>
                                </span>

                            </div>
                            <div class="custom-control politics pt-2">
                                <input type="checkbox" name="check_notifications" id="check_notifications" class="custom-control-input">
                                <label for="check_notifications" class=" footer__text custom-control-label" style="font-style: italic;">
                                    He leído y acepto las
                                    <a href="#" class="footer__text">
                                    políticas de privacidad.
                                    </a>
                                </label>
                            </div>
                        </form>
                </div>

            </div>
            <div class="footer__social-movil row d-flex justify-content-around ">
                <div class="col-md-12">
                    <div class="accordion accordion-flush mb-4" >
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <h2 class="footer__title ">
                                        ACERCA DE LAIKA
                                    </h2>
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <a href="#">
                                        <h3 class="footer__text mb-3">
                                            Sobre Laika
                                        </h3>
                                    </a>
                                    <a href="#">
                                        <h3 class="footer__text mb-3">
                                            Servicios
                                        </h3>
                                    </a>
                                    <a href="#">
                                        <h3 class="footer__text mb-3">
                                            Trabaja con nosotros
                                        </h3>
                                    </a>
                                    <a href="#" target="_blank">
                                        <h3 class="footer__text mb-3">
                                            Blog
                                        </h3>
                                    </a>
                                    <a href="#" target="_blank">
                                        <h3 class="footer__text mb-3">
                                            Términos y condiciones
                                        </h3>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    <h2 class="footer__title">
                                        LINKS DE INTERÉS
                                    </h2>
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <a href="#">
                                        <h3 class="footer__text mb-3">
                                            Preguntas frecuentes
                                        </h3>
                                    </a>
                                    <a href="#">
                                        <h3 class="footer__text mb-3">
                                            ¿Cómo comprar en Laika?
                                        </h3>
                                    </a>
                                    <a href="#">
                                        <h3 class="footer__text mb-3">
                                            Política de Privacidad
                                        </h3>
                                    </a>
                                    <a href="#">
                                        <h3 class="footer__text mb-3">
                                            Contáctanos
                                        </h3>
                                    </a>
                                    <a href="#">
                                        <h3 class="footer__text mb-3">
                                            Políticas de Entrega
                                        </h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    <h2 class="footer__title">
                                        INFORMACIÓN
                                    </h2>
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <h3 class="footer__text mb-3" style="overflow-wrap: break-word;">
                                        Teléfono:3009108496<br><br>  servicioclientes@laika.com.co<br><br> Bogotá D.C., Colombia
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 col-lg-3 text-left ">
                        <h2 class="footer__title">
                            SUSCRÍBETE
                        </h2>
                        <h3 class="footer__text mb-2 pt-0 mb-2 " style="font-size: 11px !important; ">
                            Recibe noticias y promociones al instante.
                        </h3>
                        <form action="form-group mt-0 " id="home_subs">
                            <div class="input-group ">
                                <input type="email" placeholder="Correo electrónico" required="required" class=" form-control text_subscription">
                                <span class="input-group-text subscribe-span" id="basic-addon2">
                                    <i class="bi bi-chevron-right icon-subscribe" ></i>
                                </span>

                            </div>
                            <div class="custom-control politics pt-2">
                                <input type="checkbox" name="check_notifications_mobile" id="check_notifications_mobile" class="custom-control-input check_subscription">
                                <label for="check_notifications_mobile" class=" footer__text custom-control-label mx-2" style="font-style: italic;">
                                    He leído y acepto las
                                    <a href="" class="footer__text ">
                                    políticas de privacidad.
                                    </a>
                                </label>
                            </div>
                        </form>
                </div>

            </div>
            <div class="container tecnologies pb-4 pt-4">
                <div class="row d-flex justify-content-around ">
                        <img src="/img/tecnologies/mercado_pago.png">
                        <img src="/img/tecnologies/master.png">
                        <img src="/img/tecnologies/visa.png">
                        <img src="/img/tecnologies/american.png">
                        <img src="/img/tecnologies/app.png">
                        <img src="/img/tecnologies/google.png">
                        <img src="/img/tecnologies/huawei.png">
                </div>
            </div>
        </div>
    </footer>
  </div>
</template>

<script>
    import category from '../api/categories/category.js';
    export default {
        data: () => ({
            count: 0,
            direction: 'forward',
            frame: 2,
            slide: 0,
            sliding: null,
            items: [
                    {
                        src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg'
                    },
                    {
                        src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg'
                    },
                    {
                        src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg'
                    },
                    {
                        src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg'
                    },
                    {
                        src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg'
                    },
                    {
                        src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg'
                    },
                    {
                        src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg'
                    },
                    {
                        src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg'
                    },
                    {
                        src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg'
                    },
                ],
            icon_left:false,
            icon_rigth: true,
            total:0,
            categories:[]
        }),
        created(){
            this.total = this.items.length - 6;
            this.fetchCategories();
        },

        methods: {
            fetchCategories() {

                category
                    .lista()
                    .then(response => {
                        this.categories = response.data;
                    });
            },
            slideLoop(pass) {
                let steps = this.items.length - this.frame
                if(this.count >= steps & pass == "forward"){
                this.direction = "backward"
                    this.previous()
                    return
                }
                if(this.count <= steps & pass == "backward"){
                    if(this.count <= 0){
                        this.count = 0
                        this.direction = "forward"
                        this.next();
                        return
                    }
                this.previous()
                    return
                }
                if(this.count < steps & pass == "forward"){
                    if(this.count < 0){
                        this.resetScroll()
                        return
                    } else if(this.count == 0){
                        this.next()
                        return
                    }
                    this.next()
                    return
                }
                this.resetScroll()
            },
            resetScroll(){
                this.count = 0
                this.direction = "forward"
                this.scroll("reset")
            },
            previous() {

                if(this.icon_left){
                    this.count--
                    this.scroll("previous")
                }
                this.icon_left =  this.count > 0 ? true:false;
                this.icon_rigth = this.count === 0 ? true:false;

            },
            next() {
                if(this.icon_rigth && !(this.count === this.total)){
                    this.count++
                    this.scroll("next")
                }
                this.icon_rigth = this.count === this.total ? false:true;
                this.icon_left =  this.count > 0 ? true:false;

            },
            scroll(position) {
                let el = document.getElementById("slide")
                let pos = 0;
                let id = setInterval(frame, 1);
                let num = this.items.length - this.frame
                let width = 250;
                let resize = num * width
                let check = position == "reset" ? resize : width
                    function frame() {
                        if (pos == check) {
                            this.icon_rigth = false;
                            clearInterval(id);
                        } else {
                            pos += 5;
                            if(position == 'next'){
                                el.scrollLeft += 4
                            }else{
                                el.scrollLeft -= 4
                            }
                        }
                    }
            },

        }
    }
</script>


<style lang="scss" scoped>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');
    $white  : #fff;
    $gray: #e0e0e0;
    $gray-ligth: #fffdfd;
    $gray-ligth-2:#fffdfd;
    $gray-strong: #727272;
    $purple: #6f42c1;
    $purple_ligth: #b69de6;
    $black: #000000;
    $green: #0df053;
    $pink: #e91e63;
    $yellow:#ffb100;
    $red:#b71c1c;
    $orange: #ff6600;

    $big : 1224px;
    $medium: 820px;
    $small: 412px;


    *{
       font-family: 'Poppins', sans-serif;

    }

    body {
         background: $white;
        padding: 0;
        margin: 0;
    }

    .navbar-home{

        @media screen and (max-width: $small) {
            display: none;
        }
        @media screen and (max-width: $medium) {
            display: none;
        }


    }

    .navbar-first {
        padding: 0 50px;

        &__nav li {
            height: 20px;
            text-align: center;
            border-right: 1px solid $white;
        }
        &__nav li a  {
            padding: 0;
            font-weight: 400;
        }
        &__contact li{
            text-align: center;
            padding-left: 20px !important;
            padding-right: 20px;
        }

    }
    /** icons */
    .icon-navbar {
        margin: 0 3px 0 10px;
    }

    .icon-social-navbar{
        margin: 0 5px;
        font-size: 1rem;
    }
    .icon-laika{
        color: $white;
        width: 40px;
        height: 40px;
        background-color: $white;
    }

    .icon-acount {
        font-size: 40px;
        color: $white;
    }

    .items-accounts {
        color:$white;
        padding-right: 30px;
        &__strong{
            margin: 0 5px;
            font-weight: 700;

        }
        &__icon {
            color: $white;
            font-size: 35px;
        }
        @media screen and (max-width: $small) {
            display: none;
        }
        @media screen and (max-width: $medium) {
            display: none;
        }
    }

    .items-accounts a {
        color: $white;
    }

    .badge-cart:after {
        content: attr(data-count);
            position: absolute;
            background: $orange;
            top: 0rem;
            right: 1rem;
            width: 25px;
            height: 25px;
            text-align: center;
            font-size: 15px;
            border-radius: 50%;
            color: white;
            padding: 0;
            @media screen and (max-width: $small) {
                top: 1rem !important;
                right: 2rem !important;
                background: $orange;
            }
            @media screen and (max-width: $medium) {
                top: 1rem !important;
                right: 3.5rem;
                background: $orange;
            }
    }
    .navbar-first-mobile {
        &__icon-menu {
            color: $white;
            font-size: 50px;
        }
        @media screen and (min-width: $big) {
            display: none;

        }
    }
    /**end icons */
    .header-home{
        background: $purple;
        color: $white;

        &__container{
            max-width: 100%;
            margin: 0  auto;
            @media screen and (max-width: $small) {
                max-width: 100%;

            }
            @media screen and (max-width: $medium) {
                max-width: 100%;

            }
        }

        &__select-city, &__icon {
            @media screen and (max-width: $small) {
                display: none !important;
            }
            @media screen and (max-width: $medium) {
                display: none !important;
            }
        }

    }

    .search {

        &__search-input{
            width: 600px;
            height: 2.5rem;
            margin-left: 40px;
            border-radius: 8px;
            font-size: 19px;
            border-right: none;
            background-color: $white;
            border: 1px solid $white;
            @media screen and (max-width: $small) {
                font-size: 15px;
                width: 280px !important;
                margin:0 auto;
            }
            @media screen and (max-width: $medium) {
                width: 600px;
                margin:0 auto;
            }

        }
        &__search-input:focus{
            box-shadow: none;
            border: 1px solid $white;
        }

        &__search-span {
            background-color: $white;
            border-left: none;
            margin-right: 30px;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            padding: 0 10px;
            border: 1px solid $white;
            @media screen and (max-width: $small) {
                margin-right: 0;
            }
            @media screen and (max-width: $medium) {
                margin-right: 0;
            }
        }
        &__search-span i {
            font-weight: bold;
            font-size: 17px;
        }


    }

    .link-white {
        color: $white;
        &__span{
            margin-top:20px;
            font-weight: bold;
        }
        &__img{
            margin:3px;
        }
    }

    .header-second {

        background: $white;
        &__list {
            width: 100%;
        }
        &__list .nav-item a{
            color: $purple;
            font-weight: 500;
            padding: 0;
            border-radius: 0;
        }

        &__active a {
            border-bottom: 2px solid  $purple;
        }

        &__item {
           padding-right: 50px;
           border-right: 1px solid $gray;
        }
        &__products {
            width: 100%;
            align-content: center;
        }
        &__products li {
            text-align: center;
        }

        &__products li  a {
            border:none;
            color: $black !important;
            font-weight: bold;

        }
        @media screen and (max-width: $small) {
            display: none !important;
        }
        @media screen and (max-width: $medium) {
            display: none !important;
        }
    }

    .header-second-movil {

        background: $white;
        &__btn {
            width: 30%;
            @media screen and (max-width: $small) {
                width: 30%;
            }
            @media screen and (max-width: $medium) {
                width: 50%;
            }
        }

        &__btns{
            text-align: center;
            align-items: center;
            justify-content: center;
        }

        &__btns .dog {
            text-decoration: none;
            background: $purple;
            border: 1px solid $gray;
            border-radius: 10px;
            width: 20%;
            color: $white;
            font-weight: 500;
            font-size: 20px;
            height: 60px;
            @media screen and (max-width: $small) {
                width: 50%;
            }

        }
        &__btns .cat {
            text-decoration: none;
            background: $white;
            border: 1px solid $gray;
            border-radius: 10px;
            width: 20%;
            color: $purple;
            font-weight: 500;
            font-size: 20px;
            height: 60px;
            @media screen and (max-width: $small) {
                width: 50%;
            }

        }
        @media screen and (min-width: $big) {
            display: none !important;
        }
    }

    .member {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 20px;
        &__title {
            color: $purple;
            font-weight: 700 !important;
        }
        &__title strong {
            color: $yellow;
            font-weight: 600;
            margin-left: 5px;
            margin-right: 10px;
        }
        &__btn {
            align-content: center;
            text-align: center;
            background: $yellow;
            border-radius: 5px !important;
            padding: 5px 10px !important;
            font-size: 16px !important;
            font-weight: bold !important;
            color: $black !important;
        }

    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 100px !important;
        width: 100px !important;
    }
    .main {
        background: $white;
        width: 100%;
    }
    .main-container {
        background: $white;
        -webkit-box-shadow:0px 3px 3px #e0e0e0;
        -moz-box-shadow:0px 3px 3px #e0e0e0;
        box-shadow:0px 3px 3px #e0e0e0;
    }

    .carousel-home {
        padding-top: 10px;

    }

    .categories {
        width: 100%;
        font-size: 22px;

        &__title {
            color: $purple;
            font-weight: bold;
            font-size: 30px;
        }

        &__content {
            width: 95%;
            padding: 30px 0;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-content: center;
            flex-wrap: wrap;
        }

        &__category {
            width: 18%;
            margin: 10px;
            text-align: center;
            padding:6px 3px;
            height: auto;
            align-items: center;
            -webkit-box-shadow:0 0 3px 3px #e0e0e0;
            -moz-box-shadow:0 0 3px 3px #e0e0e0;
            box-shadow:0 0 3px 3px #e0e0e0;
        }
        &__category i{
            color: $purple;
            font-weight: bold;
            font-size: 20px;
        }
        &__category span {
            font-weight: bold;
            font-size: 18px;
            color: $black;

        }
    }

    .icon-whatsapp {
        position: fixed;
        width: 70px;
        height: 70px;
        line-height: 70px;
        bottom: 120px;
        right: 30px;
        background: $green;
        color: $white;
        border-radius: 50px;
        text-align: center;
        font-size: 40px;
        -webkit-box-shadow:0 0 5px 5px #e0e0e0;
        -moz-box-shadow:0 0 5px 5px #e0e0e0;
        box-shadow:0 0 5px 5px #e0e0e0;
        z-index: 100;
        text-decoration: none;
    }

    .icon-message {
        position: fixed;
        width: 70px;
        height: 70px;
        line-height: 70px;
        bottom: 30px;
        right: 30px;
        background: $purple;
        color: $white;
        border-radius: 50px;
        text-align: center;
        font-size: 40px;
        -webkit-box-shadow:0 0 5px 5px #e0e0e0;
        -moz-box-shadow:0 0 5px 5px #e0e0e0;
        box-shadow:0 0 5px 5px #e0e0e0;
        z-index: 100;
        text-decoration: none;
    }
    .icon-suggestion{
        padding-top: 15px;
        position: fixed;
        width: 40px;
        height: 170px;
        bottom: 352px;
        right: 0px;
        background: $pink;
        color: $white;
        border-radius: 2px;
        text-align: center;
        font-size: 18px;
        z-index: 100;
        text-decoration: none;
        &__span {
             writing-mode: vertical-rl;
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }

    .categories {
        width: 100%;
        padding: 30px ;
        font-size: 22px;

        &__title {
            color: $purple;
            font-weight: bold;
            font-size: 30px;
        }

        &__content {
            width: 95%;
            padding: 30px 0;
            margin: 0 auto;
        }

        &__category {
            width: 100%;
            margin: 10px;
            text-align: center;
            padding:6px 3px;
            height: auto;
            align-items: center;
            -webkit-box-shadow:0 0 3px 3px #e0e0e0;
            -moz-box-shadow:0 0 3px 3px #e0e0e0;
            box-shadow:0 0 3px 3px #e0e0e0;
        }
        &__category i{
            color: $purple;
            font-weight: bold;
            font-size: 20px;
        }
        &__category span {
            font-weight: bold;
            font-size: 18px;
            color: $black;

        }
    }

    .brands {
        width: 100%;
        &__title {
            color: $purple;
            font-weight: bold;
            font-size: 30px;
        }

        &__content {
            width: 100%;
            padding: 30px 0;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-content: center;

        }
    }

    #slide {
        display: flex;
        overflow: hidden;
        align-items: flex-start;
    }

    .control {
        margin-top: 70px;
        &__icon {
            color: $white;
            font-size: 15px;
            font-weight: bold;
            width: 30px !important;
            height: 30px !important;
            border-radius: 30px;
            text-align: center;
            display: inline-block;
            padding-top: 3px;
            cursor: pointer;
        }
        &__active {
            background: $purple;
        }
        &__inactive {
            background: $purple_ligth;
        }
    }
    #slide > div {
        width: 90% !important;
        min-width: 205px;
        padding: 20px;
        box-sizing: border-box;
        overflow: hidden;
        margin: 3px auto;


    }
    #slide > div > img {
        height: 140px;
        width: 140px !important;
        border-radius: 140px;
        display: block;
        margin: 0 auto;
        border:1px solid #fff;
        -moz-box-shadow: 0px 6px 5px #ccc;
        -webkit-box-shadow: 0px 6px 5px #ccc;
        box-shadow: 0px 6px 5px #ccc;
        -moz-border-radius:190px;
        -webkit-border-radius:190px;
    }

    .products {
        width: 100%;

        &__title {
            color: $purple;
            font-weight: bold;
            font-size: 30px;
        }

        &__content {
            width: 100%;
            padding: 30px 0;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
            flex-wrap: wrap;

        }

    }

    .product {
        margin: 5px auto;
        display: flex;
        flex-direction: column;
        border: 1px solid $gray;
        padding-top: 40px;
        border-radius: 5px;

        &__container {
            padding: 10px;
        }
        &__img {
            width: 100%;
            max-height: 350px;
        }
        &__title {
            font-size: 19px;
            color: $black;
            font-weight: 600;
        }

        &__stars i {
            color: $yellow;
            font-size: 19px;
        }

        &__price-before{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__price-before strong {
            font-size: 23px;
            color: $black;
            font-weight: 600;
        }

        &__price-old {
            width: 60%;
            color: $gray-strong;
            font-weight: 700;
            font-size: 14px;
            float: right;
        }
        &__price-old h6{
            text-decoration: line-through;
            font-weight: 700;
            font-size: 12px;
        }

         &__price-after {
             display: flex;
             flex-direction: row;
             justify-content: space-between;
         }

        &__price-after strong {
            font-size: 23px;
            color: $red;
            font-weight: 600;
            padding-right: 15px;
        }

        &__member {
            width: 60%;
            float: right;
        }

        &__member-title {
            color: $purple;
            font-weight: 700 !important;
            text-decoration: none;
        }
        &__member-title span {
            color: $yellow;
            font-weight: 600;
            margin-left: 5px;
            margin-right: 10px;
        }
        &__member-btn {
            text-decoration: none;
            align-content: center;
            text-align: center;
            background: $yellow;
            border-radius: 5px !important;
            padding: 3px 7px !important;
            font-size: 12px !important;
            font-weight: bold !important;
            color: $black !important;
        }

        &__features{
            display: flex;
            flex-direction: row;
            padding: 10px 0;
        }

        &__features .first {

            background: $purple;
            color: $white;
            padding: 10px 10px;
            margin-right: 3px;
            font-size: 15px;
            text-transform: uppercase;
            border-radius: 5px;
        }
        &__features .second {

            color: $purple;
            padding: 10px 10px;
            margin-right: 3px;
            font-size: 15px;
            text-transform: uppercase;
            border-radius: 5px;
            border:1px solid $purple;
        }

        &__btn-cart {
            background: $purple;
            color:$white;
            text-align: center;
            font-weight: bold;
            padding: 10px 0;
            text-decoration: none;
            font-size: 19px;
        }
    }

    .footer {
        color: $purple;
        background: $gray-ligth-2;
        width: 99%;
        &__icon-social{
            color: $purple;
            font-size: 20px;
            font-weight: 500;
        }
        &__icon-social a{
            color: $purple;
            font-size: 30px;
            text-decoration: none;
        }
        a {
            text-decoration: none;
        }
        &__title {
            color: $purple;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: bold;
        }
        &__text {
            color: $purple;
            font-size: 13px;
            font-weight: 400;
        }

        &__social-desktop {

            @media screen and (max-width: $small) {
                display: none !important;
            }
            @media screen and (max-width: $medium) {
                display: none !important;
            }

        }
        &__social-movil {
            display: none !important;
            @media screen and (max-width: $small) {
                display: block !important;
            }
            @media screen and (max-width: $medium) {
                display: block !important;
            }
        }
        @media screen and (max-width: $small) {
            width: 98%;
        }
        @media screen and (max-width: $medium) {
            width: 98%;
        }


    }
    hr {
        color: $gray-strong;
        padding: 0;
        margin: 0;
    }

    .text_subscription {
        background-color: $white;
        border: 1px solid #603e85!important;
        border-right: 0PX solid #fff!important;

    }
    .text_subscription:focus{
        box-shadow: none;
        border: 1px solid $white;
    }

    .align-text-bottom {
        vertical-align: text-bottom!important;
    }

    .subscribe-span {
        background: $white;
        border-left: none;
        color: $purple;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 10px 10px;
        border: 1px solid $purple;
    }

    .icon-subscribe {
        background: $purple;
        color: $white;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .politics {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (max-width: $medium) {
             justify-content: start;

        }
        @media screen and (max-width: $small) {
            justify-content: start;

        }
    }
    .tecnologies{
        background: $gray-ligth;
    }
    .tecnologies img {
        width: 10% !important;
        height: 50px;
        @media screen and (max-width: $small) {
            width: 30% !important;

        }
        @media screen and (max-width: $medium) {
            width: 25% !important;
            margin: 5px;

        }
    }

</style>

